@CHARSET "ISO-8859-1";
.fondoInformativo{
	background-color: #f3f4f2;
	text-align: left;
	overflow: auto;
	width: 100%;
	float:both;
}
.tituloinformativo{
	border-radius: 30px 30px 30px 30px;
-moz-border-radius: 30px 30px 30px 30px;
-webkit-border-radius: 30px 30px 30px 30px;
border: 1px solid #2b0057;
background-color: white;
padding-left: 10px;
margin: 0px; 
}
.imagenInformativo{
	padding-left: 4%;
	width: 30%;
	height: 200px;
	background-color: #f3f4f2;
float: left;
}
.descripcionInformativo{
	width: 60%;
	background-color: #f3f4f2;
float: right;
}


.leerMas a {
text-align: center;
text-decoration: none;
padding: 3px;
color: black;
background: #A4A4A4;
border: 1px solid darkblue;
-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}
.leerMas a:hover {
color: black;
background: #6E6E6E;
border-color: blue;
}
.leerMasNoticia .button{
text-align: right;
text-decoration: none;
padding: 3px;
color: white;
background: #2E9AFE;
-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}
.leerMasNoticia .button:hover {
color: white;
background: #2E64FE;
border-color: blue;
}

#EVENTOS
.dataList .ui-datalist-data{
border: none;
background: transparent;
background-image: none;
}

.carpetasCite { 
	background-image: url('#{request.contextPath}/Imagenes/Calendar_icon.png');
}

.selectMenu { display: inline-block; vertical-align: top; width:120px; }